gitignore
# Arquivos gerados pelo Gradle
.gradle/
build/
local.properties

# Arquivos de configuração da IDE (Android Studio, IntelliJ)
.idea/
*.iml

# Arquivos de sistema operacional
.DS_Store# Outros arquivos gerados pelo Android Studio
/captures
.externalNativeBuild
.cxx

# Arquivos de log e cache do Kotlin
.kotlin/
